# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
server/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# 환경 변수 파일 (민감한 정보 포함)
/public/env.js
/build/env.js

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea/
.vscode/

public/env.js
